<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav">
    <div class="list-group" style="margin: auto" *ngFor="let p of stringObject">
      <br />
      <a
        href="#"
        class="list-group-item list-group-item-action disabled border-0"
        style="border-radius: 50%"
      >
        <p class="text-center b-3">
          ID NO: <b>{{ p.stud_id }}</b>
        </p>
        <img
          *ngFor="let p of images"
          style="
            object-fit: cover;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 4px #f7f9fb solid;
            margin-bottom: 1rem;
          "
          [src]="p.img"
        />
        <p class="text-center b-3">{{ p.Name }}</p>
      </a>
      <br />

      <a
        href="#"
        class="list-group-item list-group-item-action border-0 mb-1 list text-left"
        routerLink="/sidenav/home"
      >
        <i class="fa fa-home" aria-hidden="true"></i>
        Home
      </a>
      <a
        class="list-group-item list-group-item-action border-0 list text-left"
        [routerLink]="['/sidenav/dtr', p.stud_id]"
      >
        <i class="fa fa-table" aria-hidden="true"></i>
        DTR
      </a>
      <a class="list-group-item list-group-item-action border-0 list text-left">
        <i class="fa fa-file-text" aria-hidden="true"></i>
        Cumulative Report
      </a>
      <a
        href="#"
        class="list-group-item list-group-item-action border-0 mb-1 list text-left"
        [routerLink]="['/sidenav/profile', p.stud_id]"
        routerLink="profile"
      >
        <i class="fa fa-user" aria-hidden="true"></i>
        Account
      </a>
      <a
        class="list-group-item list-group-item-action border-0 list text-left"
        routerLink="/login"
      >
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        Sign-out
      </a>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary" *ngFor="let c of stringObject">
      <button
        mat-icon-button
        class="example-icon text-white"
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>toc</mat-icon>
      </button>
      <span class="text-white">Welcome {{ c.Name }}</span>

      <span class="example-spacer"></span>

      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
        class="text-white"
      >
        <mat-icon>manage_accounts</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>lock_open</mat-icon>
          <span>Change Password</span>
        </button>
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>

      <button mat-icon-button>
        <mat-icon
          matBadge="9+"
          matBadgeColor="warn"
          [matBadgeHidden]="hidden"
          (click)="toggleBadgeVisibility()"
          >messages</mat-icon
        >
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
